<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Area of Circle</title>
</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/projects">Works</a></li>
        </ul>
    </nav>
    <h1>Infix to Postfix using Shunting Yard Algorithm</h1>

    <form action="/infixpostfix" method="post" class="form">
        <label for="user_infix">Enter Infix Expression:</label>
        <input type="text" id="user_infix" name="user_infix" required>
        <input type="submit" value="Convert to Postfix">
    </form>
    
    {% if result %}
    <p>Postfix Expression: {{ result }}</p>
    {% endif %}

    <div class="footer">
        <h4><a class="footer" href="/contact">Contacts</a></h4>
    </div>
</body>
</html>
