<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Profile</title>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/projects">Works</a></li>
        </ul>
    </nav>
</head>
<body>
    <h1>Joshua Garcia</h1>
    <h2>About Me</h2>
    <p class="intro">Hi, I'm a Sophomore Computer Engineering Student Section 2-2 in Polytechnic University of the Philippines Sta. Mesa, Manila Campus.</p>
    <h2>What I like</h2>
    <div class="likes_and_dislikes">
    <ul class="likes_and_dislikes_list">
        <li>Chess</li>
        <li>Music</li>
        <li>System Development</li>
        <li>Coffee</li>
    </ul>
    </div>
    <h2>What I DON'T like</h2>
    <div class="likes_and_dislikes">
    <ul class="likes_and_dislikes_list">
        <li>Web Design</li>
        <li>Late Invites</li>
        <li>Any plans I'm included but isn't said to me 3 days prior that day</li>
    </ul>
    </div>
    <div class="footer">
        <h4><a class="footer" href="/contact">Contacts</a></h4>
    </div>
</body>
</html>
