<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Home Page</title>
</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/projects">Works</a></li>
        </ul>
    </nav>
    <ul class="project_list">
        <li><a href="/works">toUpperCase</a></li>
        <li><a href="/areaOfcircle">Area of a Circle</a></li>
        <li><a href="/areaOftriangle">Area of a Triangle</a></li>
    </ul>
    <div class="footer">
        <h4><a class="footer" href="/contact">Contacts</a></h4>
    </div>
</body>
</html>