<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Convert to Uppercase</title>
</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/projects">Works</a></li>
        </ul>
    </nav>
    <h1>Convert String to Uppercase</h1>

    <form action="/works" method="post" class="form">
        <label for="inputString">Enter a string:</label>
        <input type="text" id="inputString" name="inputString">
        <input type="submit" value="Convert">
    </form>
    {% if result %}
    <p>Converted string: {{ result }}</p>
    {% endif %}
    <div class="footer">
        <h4><a class="footer" href="/contact">Contacts</a></h4>
    </div>
</body>
</html>
